/*
to compile run this code from the root of this app
sass --watch styles/app.scss:styles/app.css
*/
/*begin citation style chooser*/
#citation-chooser {
  margin-bottom: 30px;
}
#citation-chooser label {
  font-size: 1rem;
}
#citation-chooser select {
  height: 70px;
}
@media only screen and (min-device-width: 768px) {
  #citation-chooser #cite-style-select {
    padding-left: 0px;
  }
}

#clear-form-button p {
  padding: 0px;
}
#clear-form-button a#clear-form {
  line-height: 40px;
  text-decoration: underline;
}
#clear-form-button a#clear-form:hover {
  text-decoration: none;
}

/*begin forms*/
#form-container {
  margin-bottom: 25px;
}
#form-container .form-parent,
#form-container .form-child {
  display: none;
}
#form-container label {
  font-size: 1rem;
}
#form-container label.section-label {
  margin-top: 20px;
}
#form-container .button-group {
  margin: 0px;
}
#form-container .button-group li {
  float: left;
  padding: 0px;
}
#form-container .button-group li a.button {
  background: #f5f5f5;
  border-bottom: 1px solid #777777;
  border-left: 0px solid #777777;
  border-radius: 0px;
  border-right: 1px solid #777777;
  border-top: 1px solid #777777;
  color: #333333;
  opacity: 1;
  margin-bottom: -2px;
}
#form-container .button-group li a:hover {
  cursor: pointer;
}
#form-container .button-group li a.button.active {
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 0px solid #777777;
  border-right: 1px solid #777777;
  border-top: 1px solid #777777;
  color: #333;
  margin-bottom: -1px;
}
#form-container .button-group li:first-child a.button {
  border-left: 1px solid #777777;
}
#form-container .citation-form {
  border: 1px solid #777777;
  padding: 25px;
}
#form-container .citation-box {
  display: none;
}
#form-container .citation-box .citation-content .csl-entry {
  border: 1px solid #777777;
  padding: 20px;
  width: 100%;
}
#form-container .citation-box .copy-to-clipboard-button {
  color: #cc0000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#form-container .citation-box .copy-to-clipboard-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

input[type=text],
input[type=number] {
  min-width: 30px;
}

.last-name {
  padding-right: 0px;
}

#contributor-container .contributor-controls .add-contributor {
  display: inline-block;
  margin: 20px 0px 0px 0px;
}
#contributor-container .contributor-controls .add-contributor i {
  color: #555;
  font-size: 1.5rem;
}
@media only screen and (max-device-width: 768px) {
  #contributor-container .contributor-controls .add-contributor {
    margin: 0px 0px 35px 0px;
  }
  #contributor-container .contributor-controls .add-contributor i {
    font-size: 2.5rem;
  }
}
#contributor-container .contributor-controls .remove-contributor {
  display: inline-block;
  margin: 36px 0px 0px 0px;
}
#contributor-container .contributor-controls .remove-contributor i {
  color: #555;
  font-size: 1.5rem;
}
@media only screen and (max-device-width: 768px) {
  #contributor-container .contributor-controls .remove-contributor {
    margin: 0px 0px 35px 0px;
  }
  #contributor-container .contributor-controls .remove-contributor i {
    font-size: 2.5rem;
  }
}

.clipboard {
  margin-top: 20px;
}

.clipboard p {
  font-size: 0.7rem;
}

input[type=submit] {
  background: #cc0000;
  border: 0px;
  border-radius: 3px;
  color: #ffffff;
  padding: 10px;
  width: 100%;
}

input[type=submit]:hover {
  background: #780202;
  cursor: pointer;
}

span.hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

/*# sourceMappingURL=app.css.map */
